
/* Logo styles */

section#title h1.normal-width { display: none; }
section#title h1.small-width {
  font-size: 1.75em;
  margin: 1rem 0;
}

@media all and (min-width: 420px) { section#title h1.small-width { font-size: 2.25em; }}
@media all and (min-width: 480px) { section#title h1.small-width { font-size: 2.5em; }}
@media all and (min-width: 600px) { section#title h1.small-width { font-size: 3em; }}
@media all and (min-width: 750px) { section#title h1.small-width { font-size: 4em; }}

@media all and (min-width: 975px) {

  section#title h1.small-width { display: none; }
  section#title h1.normal-width { display: block; }

  section#title h1 {
    position: relative;
    margin: 5rem 5rem 5rem 2rem;
    min-width: 325px;
    max-width: 500px;
    font-family: 'Ubuntu';
    font-weight: bold;
    font-variant: small-caps;
  }

  section#title h1 span#carbon,
  section#title h1 span#nanotubes,
  section#title h1 span#org {
    position: absolute;
  }

  section#title h1 span#carbon {
    bottom: -.7rem;
    right: 2.25rem;
  }

  section#title h1 span#nanotubes {
    font-size: .69em;
    bottom: -3rem;
    right: 2.25rem;
  }

  section#title h1 span#org {
    font-size: .67em;
    /* font-variant: normal; */
    text-orientation: normal;
    writing-mode: vertical-rl;
    /* letter-spacing: -1.25rem; */
    bottom: -2.75rem;
    right: -.5rem;
    overflow: show;
  }

}

@media all and (min-width: 1600px) {

  section#title h1 {
    position: relative;
    margin: 5rem 5rem 5rem 2rem;
    min-width: 325px;
    max-width: 500px;
    font-family: 'Ubuntu';
    font-weight: bold;
    font-variant: small-caps;
  }

  section#title h1 span#carbon,
  section#title h1 span#nanotubes,
  section#title h1 span#org {
    position: absolute;
  }

  section#title h1 span#carbon {
    bottom: 0rem;
    right: 3rem;
  }

  section#title h1 span#nanotubes {
    font-size: .69em;
    bottom: -3rem;
    right: 3rem;
  }

  section#title h1 span#org {
    font-size: .67em;
    /* font-variant: normal; */
    text-orientation: normal;
    writing-mode: vertical-rl;
    /* letter-spacing: -1.25rem; */
    bottom: -2.55rem;
    right: -.5rem;
    overflow: show;
  }

}


}

