
/* Ubuntu fonts */

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Regular.woff2') format('woff2'),
       url('../fonts/ubuntu/Ubuntu-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Thin';
  src: url('../fonts/ubuntu/Ubuntu-Thin.woff2') format('woff2'),
       url('../fonts/ubuntu/Ubuntu-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Light';
  src: url('../fonts/ubuntu/Ubuntu-Light.woff2') format('woff2'),
       url('../fonts/ubuntu/Ubuntu-Light.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Thin';
  src: url('../fonts/ubuntu/Ubuntu-Medium.woff2') format('woff2'),
       url('../fonts/ubuntu/Ubuntu-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu Thin'; /* Fix This */
  src: url('../fonts/ubuntu/Ubuntu-Light-Italic.woff2') format('woff2'),
       url('../fonts/ubuntu/Ubuntu-Light-Italic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/ubuntu/Ubuntu-Bold.woff2') format('woff2'),
       url('../fonts/ubuntu/Ubuntu-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Basic Styles */

:root {
  --bg: #f4db7d;
  --accent: #f4db7d;
  --hover: #fae9a8;
  --active: #f4db7d;
  --white: #ffffff;
  --cloud: #f0f0f0;
  --black: #000000;
  --grey: #767472;
  --light-grey: #c6c4c2;
}

* { box-sizing: border-box; transition: .5s; }

body {
  position: relative;
  margin: 0px;
  background: var(--bg);
  font-family: 'Ubuntu';
  font-weight: normal;
  line-height: 1.75;
  font-size: 100%;
}

p { font-family: 'Ubuntu Thin'; font-weight: 200; }

h1, h2, h3, h4, h5, h6 { font-family: 'Ubuntu'; font-weight: normal; line-height: 1; }

h1 { font-size: 4em; font-weight: bold; }
h2 { font-size: 1.75em; font-variant: small-caps; font-weight: 300; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.35em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1.1em; }

p.small { font-size: .7em; }

ul li { font-family: 'Ubuntu Thin'; font-weight: 200; list-style-type: circle; }

strong { font-family: 'Ubuntu'; font-weight: normal; }

em { font-family: 'Ubuntu Thin'; font-style: italic; }

img {
  max-width: 100%;
  border-radius: .5rem;
  margin: 1rem 0;
}


/* Some Page Styles */

body.page {
  display: block;
  background: var(--white);
  line-height: 1.5;
  font-size: 1.2em;
}

body.page header {
  background: var(--bg);
  padding: .25rem;
  text-align: left;
  padding-left: 2rem;
  line-height: .75;
}

body.page header p {
  max-width: 1200px;
  margin: 1rem auto;
}

body.page header a {
  color: var(--black);
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
}

body.page header span.hint {
  font-size: .4em;
  font-weight: 200;
}

body.page article {
  max-width: 900px;
  padding: 1rem;
  margin: auto;
}

body.page article a {
  color: var(--black);
}

body.page article a:hover,
body.page article a:focus {
  color: var(--grey);
}

body.page article a:active {
  color: var(--black);
}

body.page h1 {
  font-size: 2em;
  margin: 3rem 0 1rem 0;
  text-align: center;
}

@media all and (min-width: 700px) {

  body.page h1 {
    font-size: 3em;
  }

}

body.page p.subtitle {
  font-variant: small-caps;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 2.5rem;
}

body.page footer {
  text-align: center;
}

/* End Page Styles */

section#title::before {
  content: '';
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: url('../images/cnt-bg.svg') 50% 80% / cover no-repeat;
}

section.left * {
  position: relative;
  z-index: 2;
}

section.right {
  position: relative;
  background: var(--white);
  padding: 3rem 1rem;
  z-index: 2;
}

section {
  padding: 1em;
}

section#title h1 {
  margin: 1rem 0;
}

section#title p.subtitle {
  font-family: 'Ubuntu Light';
  font-weight: normal;
  font-variant: small-caps;
  font-size: 1.165em;
  margin-left: .25rem;
}

section#banner {
  min-height: 400px;
  background: url('../images/cnt-maker.jpg') 60% 25% / cover no-repeat white
}

@media all and (min-width: 975px) {

  body {
    display: grid;
    grid-template-columns: 5fr 7fr;
    align-content: center;
  }

  body { font-size: 1.2rem; }

  section#title,
  section#banner {
    display: grid;
    align-content: center;
    height: 100vh;
  }

  section.left {
    display: grid;
    align-content: top;
    height: 100%;
    justify-content: right;
  }

  section.left {
    display: grid;
    align-content: top;
    justify-content: right;
    height: 100%;
  }

  section.right > * {
    width: 100%;
    max-width: 900px;
  }

  section.left {
    text-align: right;
    background: var(--bg);
  }

  section.right {
    text-align: left;
    background: var(--white);
  }

  section#title::before {
    width: 50vw;
  }

  section#title h1 {
    margin: 5rem 5rem 5rem 2rem;
  }

  section#title p.subtitle {
    position: absolute;
    top: calc(50% + 1rem);
    right: 1.25rem;
    padding-left: 1rem;
  }

  section.left h1,
  section.left p.subtitle,
  section.left h2 {
    position:relative;
    margin-right: 5rem;
    max-width: 500px;
  }

  section#title h1::before {
    content: '';
    position: absolute;
    right: -2rem;
    top: calc(50% - .035em);
    width: .2em;
    height: .2em;
    border-radius: 50%;
    background: var(--black);
  }

  section#title h1::after {
    content: '';
    position: absolute;
    right: -3.75rem;
    top: calc(50% + .037em);
    width: 2.25rem;
    height: .25rem;
    background: var(--black);
    z-index: 3;
    border-top-right-radius: 5px;
  }

  section#title { position:relative;}
  section#title::after {
    content: '';
    position: absolute;
    right: 2.25rem;
    top: calc(50% + .3rem);
    width: .25rem;
    height: 100%;
    background: var(--black);
    z-index: 3;
  }

  section.left {
    padding: 5rem 1rem;
  }

  section.right {
    padding: 4.5rem 2.25rem 5rem 2.25rem;
  }

  section.left h2 {
    position: relative;
    margin-top: .75rem;
  }
  section.left h2::before {
    content: '';
    position: absolute;
    right: -2rem;
    top: .475em;
    width: .25em;
    height: .25em;
    border-radius: 50%;
    background: var(--black);
  }

  section.left h2::after {
    content: '';
    position: absolute;
    right: -3.75rem;
    top: .5525em;
    width: 2.25rem;
    height: .25rem;
    background: var(--black);
    z-index: 3;
    border-top-right-radius: 5px;
  }

  section.left { position:relative;}
  section.left::after {
    content: '';
    position: absolute;
    right: 2.25rem;
    top: 0;
    width: .25rem;
    height: 100%;
    background: var(--black);
    z-index: 3;
  }

  section.left.last::after {
    height: 80%;
  }

  section.left.last::before {
    content: '';
    position: absolute;
    right: 2rem;
    top: 80%;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background: var(--black);
  }

}

@media all and (min-width: 1200px) {

  section.left {
    padding: 8rem 3rem;
  }

  section.right {
    padding: 7.5rem 4.24rem 8rem 4.25rem;
  }

  section#title::after,
  section.left::after {
    right: 4.25rem;
  }

  section#title p.subtitle {
    position: absolute;
    right: 3.25rem;
  }

  section.left.last::before {
    right: 4rem;
  }
}

@media all and (min-width: 1600px) {

  body { font-size: 150%; }

  section#title::after {
    top: calc(50% + .5rem);
  }

}



/* Forms and Links and Buttons */

a.button {
  display: inline-block;
  width: auto;
  text-decoration: none;
  border: 2px solid var(--bg);
  padding: 1rem 2rem 1.25rem 2rem;
  color: var(--black);
  border-radius: .5rem;
  background: var(--bg);
  font-family: 'Ubuntu';
  font-variant: small-caps;
  font-weight: normal;
  transition: .5s;
}

a.button-light {
  background: var(--cloud);
  border: 2px solid var(--black);
}

a.button:focus,
a.button:hover {
  outline: none;
  border: 2px solid var(--hover);
  background: var(--hover);
}

a.button-light:focus,
a.button-light:hover {
  color: var(--grey);
  border: 2px solid var(--grey);
  background: var(--cloud) !important;
}

a.button:active {
  background: var(--active);
}

a.button-light:active {
  color: var(--bg);
  border: 2px solid var(--bg);
  background: var(--cloud);
}

div.contact p.label {
  font-family: 'Ubuntu';
  font-variant: small-caps;
  font-size: 1.15em;
  font-weight: normal;
  margin-bottom: 0;
}

div.contact p.contact {
  margin-top: 0;
}

div.contact p.contact a {
  color: var(--black);
}

div.contact p.contact a:hover,
div.contact p.contact a:focus {
  outline: none;
  opacity: .5;
}

@media all and (min-width: 975px) {

  div.contact {
    margin-right: 5.25rem;
  }

}

input[type="text"],
input[type="email"],
textarea {
  padding: 1rem;
  border-radius: .5rem;
  border: 2px solid var(--light-grey);
  font-family: 'Ubuntu Thin';
  font-size: .8em;
  width: 47%;
}

input#name {
  margin-right: 4%;
}

textarea {
  margin: 5% 0;
  width: 99%;
  height: 12rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  outline: none;
  border: 2px solid var(--hover);
}

#submit {
  border: 4px solid var(--bg);
  padding: 1rem 2rem 1rem 2rem;
  color: var(--black);
  border-radius: .5rem;
  background: var(--bg);
  font-variant: small-caps;
  font-size: .8em;
  font-weight: 400;
  width: auto;
  cursor: pointer;
  transition: .5s;
}

input#submit:focus,
input#submit:hover {
  outline: none;
  border: 4px solid var(--hover);
  background: var(--hover);
}

input#submit:active {
  border: 4px solid var(--grey);
  background: var(--active);
}


p#copyright {
  font-size: .8em;
  color: var(--grey);
  margin: 7rem 0 1rem 0;
}

