
:root {
  --bg: #f4db7d;
  --accent: #f4db7d;
  --hover: #fae9a8;
  --active: #f4db7d;
  --white: #ffffff;
  --black: #000000;
}

* { box-sizing: border-box; }

body {
  position: relative;
  margin: 0px;
  background: var(--bg);
  font-family: 'Ubuntu';
  line-height: 1.75;
}

section#title::before {
  content: '';
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: url('../images/cnt-bg.svg') 50% 80% / cover no-repeat;
}

section.left * {
  position: relative;
  z-index: 2;
}

section.right {
  position: relative;
  background: var(--white);
  padding: 3rem 1rem;
  z-index: 2;
}

section {
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 { line-height: 1; }

h1 { font-size: 4rem; }
h2 { font-size: 1.75rem; font-variant: small-caps }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.35rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1.1rem; }

img {
  max-width: 100%;
  border-radius: .5rem;
}

section#banner {
  min-height: 400px;
  background: url('../images/cnt-maker.jpg') 60% 25% / cover no-repeat white
}

@media all and (min-width: 900px) {

  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
  }

  body { font-size: 1.2rem; }

  section#title,
  section#banner {
    display: grid;
    align-content: center;
    height: 100vh;
  }

  section.left,
  section.right {
    display: grid;
    align-content: top;
    justify-content: right;
    height: 100%;
  }

  section.left {
    text-align: right;
    background: var(--bg);
  }

  section.right {
    text-align: left;
    background: var(--white);
  }

  section#title::before {
    width: 50vw;
  }

  section#title h1 {
    margin-bottom: 0;
  }

  section#title p.subtitle {
    font-size: 1.2rem;
    font-variant: small-caps;
  }

  section.left h1,
  section.left p.subtitle,
  section.left h2 {
    position:relative;
    margin-right: 5rem;
    max-width: 500px;
  }

  section#title h1::before {
    content: '';
    position: absolute;
    right: -2rem;
    top: calc(50% - .05em);
    width: .25em;
    height: .25em;
    border-radius: 50%;
    background: var(--black);
  }

  section#title h1::after {
    content: '';
    position: absolute;
    right: -3.75rem;
    top: calc(50% + .037em);
    width: 2.25rem;
    height: .25rem;
    background: var(--black);
    z-index: 3;
    border-top-right-radius: 5px;
  }

  section#title { position:relative;}
  section#title::after {
    content: '';
    position: absolute;
    right: 2.25rem;
    top: calc(50% - .25rem);
    width: .25rem;
    height: 100%;
    background: var(--black);
    z-index: 3;
  }

  section.left {
    padding: 5rem 1rem;
  }

  section.right {
    padding: 4.5rem 2.25rem 5rem 2.25rem;
  }

  section.left h2 {
    position: relative;
    margin-top: 0;
  }
  section.left h2::before {
    content: '';
    position: absolute;
    right: -2rem;
    top: .4em;
    width: .45em;
    height: .45em;
    border-radius: 50%;
    background: var(--black);
  }

  section.left h2::after {
    content: '';
    position: absolute;
    right: -3.75rem;
    top: .5525em;
    width: 2.25rem;
    height: .25rem;
    background: var(--black);
    z-index: 3;
    border-top-right-radius: 5px;
  }

  section.left { position:relative;}
  section.left::after {
    content: '';
    position: absolute;
    right: 2.25rem;
    top: 0;
    width: .25rem;
    height: 100%;
    background: var(--black);
    z-index: 3;
  }

  section.left.last::after {
    height: 80%;
  }

  section.left.last::before {
    content: '';
    position: absolute;
    right: 2rem;
    top: 80%;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background: var(--black);
  }

}

@media all and (min-width: 1200px) {

  section.left {
    padding: 8rem 3rem;
  }

  section.right {
    padding: 7.5rem 4.24rem 8rem 4.25rem;
  }

  section#title::after,
  section.left::after {
    right: 4.25rem;
  }

  section.left.last::before {
    right: 4rem;
  }
}

